<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	
	<defaultDocument>
            <files>
                <clear />
                <add value="index.asp" />
            </files>
        </defaultDocument>
		
		
       <!-- <httpErrors>
            <error statusCode="500" subStatusCode="100" path="/aspErrorPage.asp" responseMode="ExecuteURL" />
        </httpErrors>-->
    </system.webServer>
</configuration>
